// // Optional main icon
// MAIN ICON "icon.ico"

1 VERSIONINFO
    FILEVERSION    0,2,1,00
    PRODUCTVERSION 0,2,1,00
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "SeedCTL\0"
            VALUE "FileDescription",    "Cryptocurrency multichain wallet generator.\0"
            VALUE "FileVersion",        "0.2.1\0"
            VALUE "LegalCopyright",     "\251 SeedCTL\0"
            VALUE "OriginalFilename",   "seedctl.exe\0"
            VALUE "ProductName",        "seedctl\0"
            VALUE "ProductVersion",     "0.2.1\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}