[Desktop Entry]
Name=SeedCTL
Comment=Deterministic, auditable, security-focused multichain wallet generator.
Exec=AppRun
Icon=seedctl
Type=Application
Terminal=true
Categories=Utility;